@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis;

@inherits InputBase<int>

<div class="input-time">
    <div>
        <input type="number" class="form-control @CssClass" min="0" @onchange="SetHourValue" value="@_hours" />
        <label>Hours</label>
    </div>
    <div>
        <input type="number" class="form-control @CssClass" min="0" max="59" @onchange="SetMinuteValue" value="@_minutes" />
        <label>Minutes</label>
    </div>
</div>

@code {
    private int _hours;
    private int _minutes;

    //Its job is to convert a string value to the type that the component is bound to on the form model
    protected override bool TryParseValueFromString(string value, [MaybeNullWhen(false)] out int result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }

    protected override void OnParametersSet()
    {
        if (CurrentValue > 0)
        {
            _hours = CurrentValue / 60;
            _minutes = CurrentValue % 60;
        }
    }

    private void SetHourValue(ChangeEventArgs args)
    {
        int.TryParse(args.Value?.ToString(), out _hours);
        SetCurrentValu();
    }

    private void SetMinuteValue(ChangeEventArgs args)
    {
        int.TryParse(args.Value?.ToString(), out _minutes);
        SetCurrentValu();
    }

    private void SetCurrentValu() => CurrentValue = (_hours * 60) + _minutes;
}
